.idea/
build/
dist/
demo/
typings/
logs

#stylus
**/*.styl

webpack.config.js

scripts
.npmignore
.travis.yml
.editorconfig
tsconfig.json
tslint.json
typings.json
gulpfile.js
karma.conf.js
test.bundle.js
*.ts
*.js.map
!*.d.ts

src/**/*.ts
!src/**/*.d.ts
!src/**/*.js.map

!src/**/*.css
!src/**/*.js
!index.js
